@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Kanit:wght@300;400;600;700&display=swap");
@import "tailwindcss";

/* Your custom styles below */
body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@theme {
  --font-orbitron: "Orbitron", var(--font-sans);
  --font-kanit: "Kanit", var(--font-sans);
  --font-wunder: "Bebas Neue", var(--font-sans);
}
